includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    parameters:
        excludes_analyse:
            - config/*.php
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
